@font-face {
  font-family: 'Hubot';
  src: url('../fonts/hubotsans-light-webfont.woff2') format('woff2'),
    url('../fonts/hubotsans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Hubot';
  src: url('../fonts/hubotsans-medium-webfont.woff2') format('woff2'),
    url('../fonts/hubotsans-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
