@import "css/reset.css";

:root {
  --bg-color: white;
}

body {
  background-color: var(--bg-color);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
}
