@import "./reset.css";
@import "./font.css";

:root {
  --bg-color: #212123;
  --text-color: #CDC7B8;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: Hubot, sans-serif;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 300;
  align-items: start;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
}

.content {
  position: absolute;
  z-index: 1;
  right: 50%;
  top: calc(50% - 1rem);
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  color: inherit;
}

@media(max-width: 600px) {
  .content {
    right: auto;
    left: 3rem;
  }
}
