@function grid-element($nb, $total: $grid-total) {
	@return percentage($nb / $total);
}

@mixin grid-element($nb, $type: false, $total: $grid-total) {
	width: grid-element($nb, $total);
	padding-left: $gutter/2;
	padding-right: $gutter/2;
	box-sizing: border-box;
	@if $type == false {
		flex: 0 0 grid-element($nb, $total);
	}
	@elseif $type == float {
		float: left;
	}
	@elseif $type == inline {
		display: inline-block;
	}
}

@mixin grid-container($type: false) {
	margin-left: -$gutter/2;
	margin-right: -$gutter/2;

	@if $type == false {
		display: flex;
		flex-wrap: wrap;
	}
	@else {
		@include clearfix;
	}
}

@mixin grid-border($type, $side: bottom, $position: relative) {
	position: $position;

	&:before {
		content: '';
		border-#{$side}: $type;
		position: absolute;
		left: $gutter/2;
		right: $gutter/2;

		@if $type == top {
			top: 0;
			bottom: auto;
		}
		@else {
			top: auto;
			bottom: 0;
		}
	}
}
