.cmder {
	clear: left;
	position: relative;
	cursor: pointer;
	@extend .inputed;
	@extend .block;

	&__anim {

		span {
			white-space: pre-wrap;
			opacity: 0;
		}
	}

	&__remote {
		position: absolute;
		right: $base/2;
		top: 0;
		height: 100%;
	}

	&__button {
		text-decoration: none;
		float: left;
		opacity: 0.7;
		@include ease;
		width: 1.5em;
		height: 100%;

		&:hover {
			opacity: 1;
			transform: scale(1.1);
		}

		&--help {
			text-align: center;
			line-height: 2.3rem;
		}

		&--menu {
			position: relative;

			&:before,
			&:after {
				content: '';
			}

			&:before,
			&:after,
			span {
				display: block;
				height: 1px;
				width: 1em;
				background: $fontColor;
				@include center;
			}

			&:before {
				top: 30%;
			}

			&:after {
				top: 70%;
			}

			span {
				top: 50%;
			}
		}

		&--home {
			position: relative;
			@include fadeout;

			&:before,
			&:after {
				content: '';
				width: 1em;
				height: 1px;
				background: $fontColor;
				@include center(both);
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}

			&.active {
				@include fadein;
			}
		}
	}

	&-input {
		padding-right: $base*4;

		&__container {
			position: relative;
			z-index: 2;
			min-height: 1em;
			display: inline-block;
			max-width: 100%;
			vertical-align: top;
		}

		&__input {
			position: relative;
			z-index: 2;

			span {
				white-space: pre-wrap;
			}
		}
	}
}
