.cmder {
	clear: left;
	position: relative;
	cursor: pointer;
	@extend .inputed;
	@extend .block;

	&__container {
		position: relative;
		z-index: 2;
		min-height: 1em;
		display: inline-block;
		max-width: 100%;
		vertical-align: top;
	}

	&__input {
		position: relative;
		z-index: 2;
	}

	&__anim {

		span {
			white-space: pre-wrap;
			opacity: 0;
		}
	}

	span {
		white-space: pre-wrap;

		&.active {

		}
	}
}
