.help {

	&__text {
		margin-bottom: $base;
	}

	p, ul {
		margin-bottom: $base/2;
	}

	&-item {

		&__cmd {
			display: inline-block;
			margin-bottom: $base/2;
		}

		&__text {
			margin-bottom: $base/2;
		}
	}

	&-style {

		&-item {

			&__cmd {
				font-weight: bold;

				&:after {
					content: ':';
				}
			}
		}
	}
}
