.input {
	position: relative;
	z-index: 2;
	min-height: 1em;
	display: inline-block;
	max-width: 100%;

	&-wrapper {
		clear: left;
		position: relative;
		display: inline-block;
		max-width: 100%;
	}

	span {
		white-space: pre-wrap;
	}
}
