.log {
	@include clearfix;

	&-entry {
		margin-bottom: $base/4;
		max-width: 100%;
		word-wrap: break-word;

		&--cmd {
			@extend .inputed;

			span {
				text-decoration: line-through;
			}
		}

		&__container {
			display: inline-block;
		}
	}
}
