.log {
	@include clearfix;

	&-entry {
		@extend .block;
		max-width: 100%;
		word-wrap: break-word;
		padding-bottom: $base;

		&--cmd {
			@extend .inputed;
			padding-bottom: 0;

			span {
				opacity: 0.5;
			}
		}

		&:not(.log-entry--cmd) {
			position: relative;
			z-index: 2;
		}
	}

	&-block {

		&:first-child {

			.log-entry--cmd {
				margin-top: 0;
			}
		}
	}
}
