.project {

	&__title {
		margin: 0;
		font-size: $fontSizeBig;
		display: inline-block;
	}

	&__date {
		display: inline-block;

		&:before {
			content: '(';
		}

		&:after {
			content: ')';
		}
	}
}
