.project {

	&-item {
		margin-bottom: $base/4;

		&__key {
			font-size: $fontSizeSmall;
			text-transform: uppercase;
		}

		&--title {
			margin-bottom: $base/2;
			font-size: $fontSizeBig;
			display: inline-block;
			font-weight: bold;

			.project-item__key {
				display: none;
			}
		}

		&--visit {
			margin-top: $base;

			.project-item__key {
				display: none;
			}
		}

		&__list {
			display: inline;

			li {
				display: inline;

				&:not(:last-child):after {
					content: ', '
				}
			}
		}
	}

	&-all {

		&__item {
			margin-bottom: $base;
		}
	}
}
