@font-face {
	font-family: 'PT Sans';
	src:
		url(../fonts/PTSans-book.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src:
		url(../fonts/PTSans-bold.woff);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src:
		url(../fonts/PTSans-italic.woff);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans';
	src:
		url(../fonts/PTSans-bold-italic.woff);
	font-weight: bold;
	font-style: italic;
}


