html, body {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: $fontSizeGlobal;
	line-height: $lineHeightGlobal;
	width: 100%;
	height: 100%;
	background: $white;
	color: $black;

	&.noscroll {
		height: 100%;
		overflow-y: hidden;
	}
}

*:focus {
	outline: none;
}

p {
	margin-bottom: $base;

	a {
		// text-decoration: none;
		// color: rgba($black, 0.6);
		// @include ease;

		// &:hover {
		// 	color: rgba($black, 1);
		// }
	}
}

.bold {
	font-weight: bold;
}

#container {
	padding: $base;
	box-sizing: border-box;
}

.inputed {
	// padding-bottom: $base/2;
	// margin-bottom: $base/1.5;
	// margin-top: $base*1.5;
	// border-bottom: 1px solid $black;
	padding-top: $base;

	&:before {
		// content: '';
		// display: inline-block;
		// height: 1em;
		// width: 0.5em;
		// border: $black solid 1px;
		// margin-right: 0.2em;
		// margin-bottom: -0.1em;
		// content: '$';
		vertical-align: top;
	}
}
