html, body {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: $fontSizeGlobal;
	line-height: $lineHeightGlobal;
}

*:focus {
	outline: none;
}

p {
	margin-bottom: $base;
}

.bold {
	font-weight: bold;
}

#container {
	max-width: 900px;
	margin: 0 auto;
}

.inputed {
	margin-top: $base;
}


.block {
	background: $white;
	padding: $base/2;
}
