$base: 1rem;

$fontSizeGlobal: 1.05rem;
$fontSizeSmall: 0.9rem;
$lineHeightGlobal: 1.2;

$black: #000000;
$white: #FFFFFF;
$yellow: yellow;

$mainWidth: 1400px;

$easeDuration: 0.5s;
$easeDurationQuick: 0.2s;
$easeFunction: ease-out;

$breakpoints: (phone: 40em, tablet: 40em, desktop: 80em);

$cmdBefore: '> ';
