$base: 1rem;

$fontSizeGlobal: 1.05rem;
$fontSizeSmall: 0.6rem;
$fontSizeBig: 1.5rem;
$lineHeightGlobal: 1.3;

$black: #000000;
$white: #FFFFFF;
$yellow: #8bdbff;

$mainWidth: 1400px;

$easeDuration: 0.2s;
$easeDurationQuick: 0.2s;
$easeFunction: ease-out;

$breakpoints: (phone: 40em, tablet: 40em, desktop: 80em);

$cmdBefore: '> ';
